<!DOCTYPE html>
<html>
  <head>
    <title>Zac's Project Page</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="inner-nav-container">
          <div class="crop-container">
            <img src="../static/images/augustine_bench.JPG" />
          </div>
          <a href="/" class="nav-logo">Zac's Portfolio</a>
          <ul class="nav-links">
            <li><a href="/" class="nav-buttons">Home</a></li>
            <li><a href="/About " class="nav-buttons">About</a></li>
            <li><a href="/Projects" class="nav-buttons">Projects</a></li>
            <!-- You can add more here later -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="about-container">
      <h1>A Brief Bio</h1>
      <img
        src="../static/images/aria_comp2.jpg"
        alt="Zac Headshot"
        class="about-img"
      />
      <img
        src="../static/images/fledermaus.JPEG"
        alt="Img of Zac on Stage"
        class="about-img"
      />
      <img
        src="../static/images/basic_headshot.jpeg"
        alt="a headshot of zac against a brick wall"
        class="about-img"
      />
    </div>

    <div class="about-blurb">
      <p>
        Zac Harmon is a melting pot of skills and talents. He comes from a
        military family, and moved around the continental United States
        frequently as a child, eventually settling in Tampa, Florida around
        2008.
      </p>
      <p>
        Once getting to highschool, he immersed himself in music, rising to be
        Drum Major of the band, President of the choir, and officers in multiple
        clubs and associations. He sang and played piano throughout the county
        with his school and through community organizations, where he yearly
        went to retirement homes during Christmas time to sing to the residents.
        Throughout this experience, he was always drawn to technology. This was
        aided, ironically, by COVID. Due to the restrictions placed by COVID he
        was often asked to help with recording, visual, and technological
        equipment for multiple programs during this time. For example, he was
        responsible for creating the first website and virtual storage space for
        his highschool choir and band, bringing their old programs into the new
        age. Despite these passions, he decided to pursue his calling and attend
        the University of North Florida for a bachelors degree in Vocal
        Performance.
      </p>
      <p>
        During his time at UNF he remained as heavily invested in his work, just
        as he did in highschool, and was awarded the Musician of the Year for
        two consecutive years. However, by the end of his junior year he began
        to feel drawn back to technology and decided to take a beginners
        programming class. From then on, he began to plan on a career in
        technology. Since then, he has graduated Cum Laude and begun education
        in Software Development and Data Analytics through self-directed
        learning with CourseCareers online certificates.
      </p>
      <p>
        As a professional musician with a passion for technology, he possess a
        unique background that gives him an advantage when it comes to creative
        decisions and work ethic. Presently, he is studying software and data
        and is aspiring to become a data engineer. He is passionate about clean,
        efficient, and innovative code and is excited to begin a career in
        technology.
      </p>
    </div>
  </body>
</html>
