<!DOCTYPE html>
<html>
  <head>
    <title>Zac's Portfolio</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <nav>
      <div class="nav-container">
        <div class="inner-nav-container">
          <div class="crop-container">
            <img src="../static/images/augustine_bench.JPG" />
          </div>
          <a href="/" class="nav-logo">Zac's Portfolio</a>
          <ul class="nav-links">
            <li><a href="/" class="nav-buttons">Home</a></li>
            <li><a href="/About " class="nav-buttons">About</a></li>
            <li><a href="/Projects" class="nav-buttons">Projects</a></li>
            <!-- You can add more here later -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="intro-container">
      <div class="zac-headshot">
        <img src="../static/images/aria_comp1.jpg" alt="Zac's Headshot" />
      </div>
      <div class="blurb">
        <p>
          Hey! I’m Zac — an aspiring data professional who loves digging into
          datasets, building pipelines, and finding stories in numbers. I’m
          currently attending WGU for my masters in Data Engineering and
          focusing on furthering my skills with SQL, Python, and building real
          world projects.
        </p>
        <p>
          Want to get in touch with me? I am always open to opportunities and
          feedback!
        </p>
        <p>Phone: 727-212-8963</p>
        <p>Email: zcharmon77@gmail.com</p>
      </div>
      <div class="button-stack">
        <a
          href="https://www.linkedin.com/in/zacary-harmon-585506318/"
          target="_blank"
          class="btn"
        >
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://github.com/HarmonZ7" target="_blank" class="btn">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a
          href="../static/files/Zac Harmon resume '25.pdf"
          target="_blank"
          class="btn"
        >
          <i class="fas fa-download"></i> Resume
        </a>
      </div>
    </div>
  </body>
</html>
