<!DOCTYPE html>
<html>
  <head>
    <title>Zac's Project Page</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="inner-nav-container">
          <div class="crop-container">
            <img src="../static/images/augustine_bench.JPG" />
          </div>
          <a href="/" class="nav-logo">Zac's Portfolio</a>
          <ul class="nav-links">
            <li><a href="/" class="nav-buttons">Home</a></li>
            <li><a href="/About " class="nav-buttons">About</a></li>
            <li><a href="/Projects" class="nav-buttons">Projects</a></li>
            <!-- You can add more here later -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="projects">
      <ul>
        {% for project in projects %}
        <li>
          <h2>{{ project.title }}</h2>
          <p>{{ project.description }}</p>
          <a
            href="{{ project.link }}"
            target="_blank"
            rel="noopener noreferrer"
            class="button"
            >View Project</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
