<!DOCTYPE html>
<html>
  <head>
    <title>Zac's Project Page</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="crop-container">
          <img src="../static/images/augustine_bench.JPG" />
        </div>
        <a href="/" class="nav-logo">Zac's Portfolio</a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/About ">About</a></li>
          <li><a href="/Projects ">Projects</a></li>
          <!-- You can add more here later -->
        </ul>
      </div>
    </nav>

    <h1>Welcome to My Project Page</h1>
    <ul>
      {% for project in projects %}
      <li>
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        <a
          href="{{ project.link }}"
          target="_blank"
          rel="noopener noreferrer"
          class="button"
          >View Project</a
        >
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
